@import "../../../styles/global.scss";

.gameWrapper {
  position: absolute;
}

.mainMap {
  position: relative;
  background-color: $mapColor;
  z-index: -10;
}

.gameOver {
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 700%;
  transform: translate(-50%, -50%);
  text-align: center;

  @include portrait() {
  }
}
